.jumbotron
	text-align center
	color lighten(#fa8072, 10)
	
	
#inputFood
	background-color lighten(#fa8072, 60%)
	
#inputPrice
	background-color lighten(#fa8072, 60%)
	
.col-md-12
	margin auto	
	text-align center
	
.form-inline	
	width 15em
	margin 0 auto
	
ul 
	width 15em
	margin 5px auto
		

li 
	margin-left -20px
	

ul li:nth-child(even)
	color lighten(#fa8072, 10)
	
ul li:nth-child(odd)
	color darken(#fa8072, 10)
	
.btn
	margin-top 5px;
	margin-bottom 17px;
		

			

	



	